@use './variables' as *;

header {
  position: sticky;
  z-index: 1;
  top: 0;
  background-color: $color-primary;

  h1 > a {
    display: flex;
    align-items: center;
  }

  .header-inner {
    align-items: center;
    justify-content: space-between;
  }

  .header-logo {
    @media #{$medium-down} {
      width: 184px;
      height: 26px;
    }
  }

  #cart-button {
    border-color: $color-primary;
  }
}
