@use './variables' as *;

.hide-sm-down {
  @media #{$small-down} {
    display: none !important;
  }
}

.hide-md-up {
  @media #{$medium-up} {
    display: none !important;
  }
}

.hide {
  display: none !important;
}

.truncate {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

