@use './variables' as *;

.custom.notification-bar {
  position: fixed;
  z-index: 100;
  top: calc($header-height + $spacing-md);
  left: calc(50% - ($max-width-sm * 0.5));
  background-color: $color-success-lgt;
  border-color: $color-success;
  color: $color-heading;
  width: $max-width-sm;
  box-shadow: $box-shadow-lg;
  animation: scaleUpDown 0.3s cubic-bezier(0, .25, .2, 1);
  transform-origin: center;

  .cart-page & {
    top: $spacing-md;
  }

  @media #{$small-down} {
    width: calc(100% - ($spacing-md * 2));
    left: $spacing-md
  }
}

@keyframes scaleUpDown {
  0% {
    transform: scale(0.98);
  }
  25% {
    transform: scale(1.02);
  }
  50% {
    transform: scale(0.96);
  }
  75% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}
