@use './variables' as *;

.product-list {
  display: block;
}

#items-container.product-list-inner {
  display: grid;
  margin: 0 auto;
  padding-top: 0;
  grid-template-columns: repeat(2, minmax(calc(50% - calc($spacing-sm * 0.5)), 1fr));
  gap: $spacing-sm;

  @media #{$medium-up} {
    gap: $spacing-md;
  }

  @media #{$medium-up} {
    grid-template-columns: repeat(auto-fit, minmax(234px, 1fr));
  }

  @media #{$large-up} {
    grid-template-columns: repeat(auto-fit, minmax(264px, 1fr));
  }

  @media #{$xlarge-up} {
    grid-template-columns: repeat(auto-fit, minmax(294px, 1fr));
  }
}

.product-list {
  .product {
    display: flex;
    flex-direction: column;
    border: 0.125rem solid;
    border-color: $color-gray-lgt;
    border-radius: $border-radius-sm;
    box-shadow: $box-shadow-lg;
    transition: border-color $transition-settings;
    z-index: 0;

    &.item-in-cart {
      position: relative;
      pointer-events: none;

      .product-content-footer {
        visibility: hidden;
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $color-white;
        opacity: 0.6;
        z-index: 1;
      }

      &::after {
        content: "ITEM IN CART";
        padding-inline: 1rem;
        white-space: nowrap;
        text-align: center;
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: $font-family-bold;
        font-size: $text-body-sm;
        letter-spacing: 0.1rem;
        color: $color-primary;
        background-color: $color-white;
        border: 0.1rem solid $color-gray-lgt;
      }
    }

    &:hover {
      border-color: $color-gray;

      .product-img {
        scale: 1.05;
      }
    }
  }

  figure {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 17 / 13;
    cursor: pointer;
  }

  .product-img {
    width: auto;
    height: 100%;
    padding: $spacing-md;
    aspect-ratio: 1 / 1;
    max-width: 200px;
    object-fit: contain;
    transition: scale $transition-settings;
  }

  .product-content {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    padding: $spacing-sm;
    padding-top: calc($spacing-sm * 0.5);

    @media #{$medium-up} {
      padding: $spacing-md;
      padding-top: $spacing-sm;
    }

    @media #{$small-down} {
      font-size: $text-body-sm;
    }

    .product-content-title {
      font-size: $text-heading-sm;
      cursor: pointer;

      @media #{$small-down} {
        font-size: $text-body-sm;
      }
    }

    .product-content-descrition {
      margin-bottom: $spacing-sm;
    }

    .product-content-footer {
      font-family: $font-family-semibold;
      margin-top: auto;
      display: flex;
      gap: $spacing-sm;
      align-items: center;
    }

    button {
      border-color: $color-gray-lgt;
    }

    .product-details {
      display: flex;
      flex: 1 0 auto;

      @media #{$large-up} {
        flex: 1 0 auto;
        flex-direction: row;
        justify-content: space-between;
        gap: $spacing-sm;
      }

      @media #{$medium-down} {
        flex-direction: column;
        text-align: right;
      }
    }

    .product-price {
      font-size: $text-heading-md;
      color: $color-primary;
    }

    .product-rating {
      margin-top: calc($spacing-sm * 0.7);
      font-size: $text-body-lg;
      color: $color-heading;
      margin-left: auto;
    }

    @media #{$medium-down} {
      .product-price,
      .product-rating {
        font-size: $text-body-md;
        margin-top: 0;
        margin-bottom: calc($spacing-sm * -0.75);
      }

      .product-rating img {
        width: 12px;
        height: 12px;
      }
    }

    @media #{$small-down} {
      .product-price,
      .product-rating {
        font-size: $text-body-sm;
      }
    }
  }
}
