@use './variables' as *;

body {
  font-family: $font-family-medium;
  color: $color-body;
  letter-spacing: 0.02em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-bold;
  font-weight: normal;
  color: $color-heading;
  line-height: 1.35;
}

html {
  font-size: $text-body-md;
  line-height: 1.6;
}
