@use './partials/variables.scss' as *;
@use './partials/helpers.scss' as *;

body {
  background-color: $color-bg;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f4f4f4;
}

.header h1 {
  margin-right: 10px;
}

.filters,
.categories {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  margin: 10px;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  background-color: grey;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  padding: 20px;
  border: 2px solid red;
}

.product {
  border: 1px solid black;
  border-radius: 6px;
  padding: 20px;
  text-align: left;
  grid-template-rows: subgrid;
}

.product-links {
  display: flex;
  justify-content: space-between;
}


img {
  max-width: 100%;
  height: auto;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
  background-color: white;
  border-top: 2px solid #ddd;
  border: 2px solid red;
  text-align: center;
}

.footer-section h4 {
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
}

.footer-section ul li a {
  text-decoration: none;
  color: #333;
}

.payment-icon {
  margin: 5px;
  width: 48px;
  height: auto;
}

#cart-button, #wish-button {
  position: relative;
  background-color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
}

#item-count, #wish-count {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: red;
  color: white;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-copyright {
  text-align: center;
}

.product-img {
  margin-inline: auto;
  display: block;
}
