@use "./partials/reset" as *;
@use "./partials/fonts" as *;
@use "./partials/variables" as *;
@use "./partials/typography" as *;
@use "./partials/helpers" as *;
@use "./partials/global" as *;
@use "./partials/header" as *;
@use "./partials/product-list" as *;
@use "./partials/cart" as *;
@use "./partials/modal" as *;
@use "./partials/notification-bar" as *;

.page-header {
  margin: 0;
  position: sticky;
  z-index: 1;
  top: $header-height;
  background-color: $color-white;
  align-items: center;

  .page-header-inner {
    align-items: center;
    gap: $spacing-md;

    @media #{$small-down} {
      gap: $spacing-sm;
    }
  }

  .dropdown-container {
    @media #{$small-down} {
      display: flex;
      flex-basis: 50%;
    }

    [id$="select"] {
      border-radius: $border-radius-sm;
      @media #{$small-down} {
        width: 100%;
      }
    }
  }
}

/* To Clean Up */
.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
  background-color: white;
  border-top: 2px solid #ddd;
  border: 2px solid red;
  text-align: center;
}

.footer-section h4 {
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
}

.footer-section ul li a {
  text-decoration: none;
  color: #333;
}

.payment-icon {
  margin: 5px;
  width: 48px;
  height: auto;
}

.count-badge {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0.375rem;
  right: 0.375rem;
  padding: calc($spacing-sm * 0.25) calc($spacing-sm * 0.625);
  background-color: $color-alert;
  font-size: $text-body-tiny;
  font-family: $font-family-semibold;
  color: $color-white;
  height: 1rem;
  min-width: 1rem;
  border-radius: 50vw;
}

.footer-copyright {
  text-align: center;
}

.product-img {
  margin-inline: auto;
  display: block;
}

#loader {
  width: 100%;
  margin-block: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: center;

  img {
    width: 5rem;
    height: 5rem;
  }
}
